@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

nav {
    color: white;
    padding: 28px;
    display: flex;
    justify-content: space-between;
}

nav .logo {
    width: 8rem;
    max-width: 100%;

}

nav .logo img {
    width: 100%;
    height: auto;
    display: block;
}

nav .signIn {
    background-color: #e50914;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    min-height: 1rem;
    white-space: nowrap;
    box-sizing: border-box;
}

nav .signIn:hover {
    background-color: #fc5058;
}

.top-section {
    background-image: url(assets/images/bg.jpg);
    background-size: cover;
    background-color: #000;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hero {
    font-family: "Boldonse", system-ui;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    text-align: center;
    gap: 12px;
    padding: 0px 30px;
    border: 2px solid red;
    min-width: 80vw;

}
.inputBox {
    padding: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.inp {
    padding: 17px 10px;
    width: 300px;
    font-size: 17px;
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.781);
    border: 1px solid gray;
    
}

.inpBtn {
    background-color: #e50914;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}