* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 80vh;
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 72vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    text-align: center;
    gap: 12px;
    padding: 0px 30px;

}

.hero> :first-child {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 46px;
    gap: 23px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.sepration {
    height: 7px;
    background-color: rgb(75, 74, 74);

}

.signIn {
    background-color: red;
    border: none;
    padding: 9px 17px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.inputBox {
    padding: 15px 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.inp {
    padding: 17px 10px;
    width: 300px;
    font-size: 17px;
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.781);
    border: 1px solid gray;
    
}

.inpBtn {
    padding: 17px 20px;
    font-size: 17px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 3px;
}